<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>My test page</title>
    <p>Hola gato</p>
  </head>
  <body>
    <img src="../../../assets/images/google-imagenes-2.png" alt="My test image">
    <img src="/assets/images/cya-bk.png" alt="My test image">
    <img src="http://lineadecodigo.com/imagenes/logo.jpg" alt="" />
  </body>
</html>
